body {
  background: url('placeholder.jpg');
  background-repeat: repeat-x;
  background-color: #BCBCBC;
}

#wrapper {
  margin-left: 10vw;
  width: 80vw;
  z-index: 9999;
}

#content {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

#navbar {
  display: table;
  width: 100%;
}

#linklist {
  margin-left;
  list-style-type: none;
  display: table-row;
  width: 100%;
  border-style: solid;
}

#linklist > li {
  display: table-cell;
  background-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
}
